@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CircullarStdMedium;
  src: url("fonts/CircularStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: CircullarStdBook;
  src: url("fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: CircullarStdBold;
  src: url("fonts/CircularStd-Bold.otf") format("opentype");
}

.library::-webkit-scrollbar {
  display: none;
}

.playlists::-webkit-scrollbar {
  display: none;
}

.feed::-webkit-scrollbar {
  display: none;
}

.friends::-webkit-scrollbar {
  display: none;
}